body {
  /*background: #e2e1e0;*/
  text-align: center;
  display: inline-block;
  position: relative;

  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.plot-grid-container {
  display: flex;
  justify-content: center;
}

.plot-grid {
  width: 98vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-main {
  background: #fff;
  border-radius: 2px;
  height: 640px;
  margin: 1rem;
  width: 96vw;
  /*resize: both;
  overflow: auto;*/
  min-width: 300px;
  max-width: 1730px
}
.card-filters {
  background: #fff;
  border-radius: 0px;
  display: inline-block;
  height: 75px;
  margin: 1rem;
  position: relative;
  width: 96vw;
  max-width: 1730px
}
.card-search {
  background: #fff;
  border-radius: 0px;
  display: inline-block;
  height: 45px;
  margin: 1rem;
  position: relative;
  padding: 1px 1px;
  width: 400px;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-1:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.18), 0 5px 5px rgba(0,0,0,0.22);
}
.card-external {
  background: #fff;
  border-radius: 0px;
  display: inline-block;
  height: 52px;
  margin: 1rem;
  position: relative;
  width: 96vw;
  max-width: 1730px
}


.card-content-nopadding {
  padding-top:0px !important; 
  padding-bottom:12px !important; 
  padding-left:12px !important; 
  padding-right:12px !important; 
  height:530px;
}

.card-action-nopadding {
  padding-top:5px !important; 
  padding-bottom:5px !important; 
  padding-left:12px !important; 
  padding-right:12px !important; 
  height:75px;
  vertical-align: middle;
}

.card-exodxFilter-nopadding {
  padding-top:5px !important; 
  padding-bottom:5px !important; 
  padding-left:5px !important; 
  padding-right:5px !important; 
  height:220px;
  width:220px;
  vertical-align: middle;
  justify-content: center;
}


.row .col.m3 {
  padding: 1px;
}
.row .col.l3 {
  padding: 1px;
}

.card-filter {
  float: left; 
  padding: 2px;
}
.row-filter {
  float: left; 
  padding: 6px;
}



.dl_button {
  position: absolute;
  top: 33%;
  left: 3%;
  
  /*
  *  Styling only, the below can be changed or removed
  *  depending on your use case
  */
  height: 10px;
  padding: 0px 0px;
  text-align: center;
}

.filter_button {
  /*z-index: 10;*/
  position: relative;
  height: 10px;
  padding: 20px 10px;
  vertical-align: middle;
}
.filter_dropdown {
  /*z-index: 10;*/
  position: relative;
  height: 10px;
  padding: 0px 10px;
  vertical-align: middle;
}

.externalLink_button {
  /*z-index: 10;*/
  position: relative;
  height: 10px;
  padding: 10px 10px;
  vertical-align: middle;
}




.exoDxFilters_button {
  position: absolute;
  bottom: 12.5%;
  right: 3%;
  z-index: 10;
  height: 10px;
  padding: 0px 0px;
  text-align: right;
}




.column_exodx_filter {
    flex: 33%;
    margin: 0; 
    padding: 0; 
    margin-left: 20px; 
    list-style: none; 
}

.label_filter {
  margin-left: ; 
}



.tooltip {
    /*position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 100;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.9s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.header_l {
  padding: 10px;
  /* text-align: left; */
  float: left; 
  color: white;
  font-size: 30px;
}

.header_r {
  padding: 10px;
  text-align: right;
  /* float: right; */
  color: white;
  font-size: 30px;
}

