body {
  /*background: #e2e1e0;*/
  text-align: center;
  display: inline-block;
  position: relative;
}

.plot-grid-container {
  display: flex;
  justify-content: center;
}

.plot-grid {
  width: 98vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-search {
  background: #fff;
  border-radius: 0px;
  display: inline-block;
  height: 45px;
  margin: 1rem;
  position: relative;
  padding: 1px 1px;
  width: 400px;
}

.card-exodx-fullwidth {
  background: #fff;
  border-radius: 2px;
  height: 600px;
  margin: 1rem;
  width: 900px;
  position: relative;

}
.card-exodx-halfwidth {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 550px;
  margin: 1rem;
  position: relative;
  width: 750px;
}
.card-exodx-filters {
  background: #fff;
  border-radius: 0px;
  display: inline-block;
  height: 55px;
  margin: 1rem;
  position: relative;
  width: 96vw;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.18), 0 5px 5px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.dl_buttton {
  z-index: 10;
  position: absolute;
  bottom: 5%;
  left: 1%;
  
  /*
  *  Styling only, the below can be changed or removed
  *  depending on your use case
  */
  height: 10px;
  padding: 0px 0px;
  text-align: center;
}

.filter_button {
  /*z-index: 10;*/
  position: relative;
  
  /*
  *  Styling only, the below can be changed or removed
  *  depending on your use case
  */
  height: 10px;
  padding: 10px 10px;
  vertical-align: middle;
}


